<h1>Listing tips</h1>

<table id="tips-table">
  <tr>
    <th>Explaination</th>
    <th>Fobar</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Tip</a>