<h1>New tip</h1>

<form id="new-tip" name="tip">
  <div class="field">
    <label for="explaination"> explaination:</label>
    <input type="text" name="explaination" id="explaination" value=<%= explaination %> >
  </div>

  <div class="field">
    <label for="fobar"> fobar:</label>
    <input type="text" name="fobar" id="fobar" value=<%= fobar %> >
  </div>

  <div class="field">
    <label for="user"> user:</label>
    <input type="text" name="user" id="user" value=<%= user %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Tip" />
  </div>

</form>

<a href="#/index">Back</a>